.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error > h1 {
    color: #e60000;
    font-weight: 700;
    font-size: 5rem;
}
.error-message {
    color: #282d30;
    font-weight: 500;
    font-size: 3rem;
}