a{
    text-decoration: none;
}

.main-header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    height: 60px;
    width: auto;
    margin: 10px;
}

.navlink{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}