.personal-stat {
    width: 80%;
    max-width: 250px;
    height: 125px;
    background-color: #FBFBFB;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personal-stat-icon {
    width: 60px;
    height: 60px;
}

.personal-stat-text {
    margin-left: 14px;
}

.personal-stat-text-numbers {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.personal-stat-text-title {
    font-size: 14px;
    margin-top: 0;
}