*{
 font-family: Roboto, "Segoe UI", SansSerif;
}
.container{
    display: grid;
    grid-template-areas: "header header right"
                       "top top right"
                       "top top right"
                        "bottom bottom right"
                        "bottom bottom right";
    position: absolute;
    top: 110px;
    left: 190px;
    width: calc(100% - 260px);
    height: calc(100% - 130px);
}

.header_home{
    grid-area: header;
}

.top-container{
    grid-area: top;
}

.bottom-container{
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    min-width: 720px;
    height: 35%;
}

.bottom-graph{
    max-width: 220px;
    max-height: 220px;
}

.right-container{
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: right;
    align-items: flex-end;
}
