.container{
    display: flex;
    position: absolute;
    top: 110px;
    left: 190px;
    width: calc(100% - 260px);
    height: calc(100% - 160px);
}

.left-container{
    width: 60%;
    min-width: 700px;
}


.bottom-container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
    min-width: 720px;
    height: 210px;
}

.right-container{
    width: 30%;
}
