.container{
    position: absolute;
    top: 110px;
    left: 190px;
    width: calc(100% - 260px);
    height: calc(100% - 160px);
}

.bottom-container{
    display: flex;
    margin-top: 15px;
    width: 720px;
    height: 210px;
}
