.weekly-stats {
    background-color: red;
    width: 30%;
    height: 100%;
    position: relative;
    border-radius: 5px;
}

.weekly-stats-title {
    width: 60%;
    font-size: 14px;
    font-weight: 300;
    color: white;
    position: absolute;
    left: 10px;
}

.custom-tooltip-average {
    background-color: white;
}

.custom-tooltip-average-text {
    font-size: 12px;
    padding: 5px;
}